<div class="container">
  <h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
  <h3>{{currentFocus}}</h3>
  <!-- task list component goes here -->
  <!-- The name of the child component's @Input() is on the left in [square brackets]. The data being passed from the parent component is on the right in "quotations". -->
  <task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)" ></task-list>
  <hr>
  <edit-task [childSelectedTask]="selectedTask" (doneButtonClickedSender)="finishedEditing()"></edit-task>
  <new-task (newTaskSender)="addTask($event)"></new-task>
</div>
